{% extends "map/base.html" %}
{% block content %}

<body>
    <div class="row">
        <div class="col-md-2">
            {% verbatim %}
            <h2>Meetups in the Kansas City Area (15 Mile Radius)</h2>
            <div ng-app="myApp" ng-controller="namesCtrl">
                    
                <p>Type a letter in the input field:</p>
                
                <p><input type="text" ng-model="test"></p>
                
                <ul>
                    <li ng-repeat="x in names | filter:test">
                    {{ x }}
                    </li>
                </ul>
            {% endverbatim %}
            </div>
        </div>

        <div class="col-md-10">
            <div id="map"></div>
        </div>
    </div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChUDpznh7soiPbOZq1ZEep0R1cXSuOIZg">
    </script>
</body>
{% endblock %}

