{% extends "map/base.html" %}
{% block content %}

<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                {% verbatim %}
                <div ng-app="map" ng-controller="list">
                    <div class="col-md-12">   
                        <h3>Per API ToS: Application uses the Meetup API but is not verified by Meetup, Inc. <a href="/map/privacy/" style="color:white">(Click Privacy Policy)</a></h3>
                        <hr>
                        <h3>Search for Exact Phrase</h3>
                        <p><input type="text" class="form-control" ng-model="exact_phrase"></p>
                        <hr>
                    </div>

                    <datetime-range
                        start="start"
                        end="end"
                        on-change-start="changedStart()"
                        on-change-end="changedEnd()">
                    </datetime-range>

                    <br>
                    
                    <div class = "text-center">
                        <button ng-click="populate()" type="button" class="btn btn-lg btn-info">Filter Time</button><br><br>
                    </div>
                    <div id="accordion" role="tablist" aria-multiselectable="true">

                        <div class="card" ng-repeat="meetup in meetups | filter:exact_phrase as visible_meetups">
                            <div class="card-header" role="tab" id={{"h"+meetup.index}}>
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href={{"#c"+meetup.index}} aria-controls={{"c"+meetup.index}}>
                                {{meetup.title}}
                                </a>
                            </h5>
                            </div>

                            <div id={{"c"+meetup.index}} class="collapse" role="tabpanel" aria-labelledby={{"h"+meetup.index}}>
                                <div class="card-block">
                                    <p ng-bind-html="meetup.desc"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endverbatim %}

                </div>
            </div>

            <div class="col-md-7">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChUDpznh7soiPbOZq1ZEep0R1cXSuOIZg">
    </script>
</body>
{% endblock %}

