{% extends "map/base.html" %}
{% block content %}

<body>
    <div class="container">
        <br>
        <div class="jumbotron">
            <h1>Purpose:</h1>
            <p>Since I am using data and an API provided by Meetup, Inc. there are certain requirements I am obliged to follow. As required by the Meetup Terms of Service, Section 5.8, I am to provide an appropriate privacy policy for this application. Furthermore, under section 5.8, I am to state that this application uses the Meetup API but is not verified by Meetup, Inc. </p>
            <hr>
            <p>As of writing this, section 5.8 specifically requires protection for Personal Information. As a result, this privacy policy will focus on that topic.</p>
            <p>Though this policy has been drafted to the best of my knowledge, I am not a Privacy Policy expert. If there are any issues, please do not hesitate to contact me at noah.code@protonmail.com. Within reason, I will try to fix any discrepancies or deficiencies brought to my attention. Other privacy questions may also be sent to that email. I reserve the right to update or change this Privacy Policy at any time, and should be checked regularly.</p>
            
            <h1>Your Privacy:</h1>
            <hr>
            <h2>Collected Information</h2>
            <p>This application does not ask for, nor knowingly collect or store Personal Information.</p>
            <h2>Intermediaries</h2>
            <p>This application also uses the Google Maps API. Please refer to their Privacy Policy to learn more.</p>
            <h2>Links</h2>
            <p>There are numerous links that lead to other websites with different Privacy Policies. If you would like to learn more, read the appropriate Privacy Policy for each website.</p>

            <h1>Terms of Service: </h1>
            <hr>
            <h2>Warranty Disclaimer And Limitations of Liability</h2>
            <p>This application is provided to you “as is” and I make no warranties of any kind. You agree that in no event shall I be held liable for any direct, indirect, incidental, special, or consequential damages. </p>
        </div>
    </div>
</body>
{% endblock %}

